<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leeknows"
    android:versionCode="3"
    android:versionName="1.11" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".leesearch" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".leeresult" android:label="@string/result_name"></activity>
         <activity android:name=".leelocation" android:label="@string/location_name"></activity>
         <activity android:name=".leesetting" android:label="@string/Mylib"></activity>
         <activity android:name=".leestore" android:label="@string/store_name"></activity>
         <activity android:name=".leemylib" android:label="@string/Mylib"></activity>
    </application>

</manifest>